.passwordContainer {
  position: relative;
  display: flex;
  align-items: center;
}

.input {
  width: 100%;
  padding-right: 40px; /* Ensure there's space for the icon */
}

.passwordToggleIcon {
  position: absolute;
  right: 35px; /* Adjust this value to position the icon horizontally */
  top: 50%; /* Position vertically centered */
  transform: translateY(-50%); /* Center vertically */
  cursor: pointer;
  font-size: 20px; /* Default icon size */
  color: black; /* Default icon color */
  transition: color 0.3s ease; /* Smooth transition for color change */
}

.passwordToggleIcon:hover {
  color: gray; /* Change icon color on hover */
}
