/* src/components/PasswordInput.module.css */
.passwordContainer {
  display: flex;
  align-items: center;
}

.input {
  flex: 1;
  padding: 8px;
}

.passwordToggleIcon {
  cursor: pointer;
  margin-left: 8px;
}
